@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd,
menu {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
html {
  font-size: 62.5%;
}
@media only screen and (max-width: 68.75em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (max-width: 31.25em) {
  html {
    font-size: 45%;
  }
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.6;
  overflow-x: hidden;
}

.logo {
  display: block;
  height: 12rem;
  width: 12rem;
}
@media only screen and (max-width: 56.25em) {
  .logo {
    height: 16rem;
    width: 16rem;
  }
}

.btn-cta {
  border: none;
  background-color: hsl(180, 66%, 49%);
  color: #fff;
  font-weight: 700;
  border-radius: 3rem;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.btn-cta:hover {
  background-color: #9be3e2;
}

.heading-primary {
  font-size: 9.6rem;
  line-height: 1.1;
  color: hsl(260, 8%, 14%);
  font-weight: 700;
}
@media only screen and (max-width: 56.25em) {
  .heading-primary {
    font-size: 5.6rem;
  }
}

.paragraph {
  color: hsl(257, 7%, 63%);
  font-size: 1.8rem;
}

.container {
  max-width: 144rem;
  margin: 0 auto;
}

.section-head {
  padding: 0 2.4rem;
}
@media only screen and (max-width: 56.25em) {
  .section-head {
    padding-bottom: 6.4rem;
  }
}

.section-main {
  background-color: #eff1f7;
  padding: 0 2.4rem;
}

.section-footer {
  background-color: hsl(255, 11%, 22%);
}

.nav {
  height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.nav__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.4rem;
}
@media only screen and (max-width: 56.25em) {
  .nav__list {
    display: none;
  }
}
.nav__item {
  text-decoration: none;
  color: hsl(257, 7%, 63%);
  font-weight: 700;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}
.nav__item:hover {
  color: hsl(255, 11%, 22%);
}
.nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.4rem;
}
.nav__login {
  border: none;
  background: none;
  padding: 1rem 2.4rem;
  border-radius: 3rem;
  font-weight: 700;
  color: hsl(257, 7%, 63%);
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.nav__login:hover {
  background-color: hsl(180, 66%, 49%);
  color: #fff;
  opacity: 0.5;
}
@media only screen and (max-width: 56.25em) {
  .nav__login {
    display: none;
  }
}
.nav__sign-up {
  padding: 1rem 2.4rem;
}
@media only screen and (max-width: 56.25em) {
  .nav__sign-up {
    display: none;
  }
}
.nav .nav__mobile {
  width: 4.8rem;
  height: 4.8rem;
  fill: hsl(257, 7%, 63%);
  display: none;
  cursor: pointer;
}
@media only screen and (max-width: 56.25em) {
  .nav .nav__mobile {
    display: block;
  }
}

.header {
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 9.6rem;
}
@media only screen and (max-width: 56.25em) {
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    text-align: center;
    overflow-x: hidden;
  }
}
.header__paragraph {
  margin-top: 2rem;
  width: 75%;
}
@media only screen and (max-width: 56.25em) {
  .header__paragraph {
    font-size: 2rem;
    width: 100%;
  }
}
.header__btn {
  margin-top: 2.4rem;
  padding: 1.6rem 5.2rem;
}
@media only screen and (max-width: 56.25em) {
  .header__btn {
    font-size: 2rem;
    padding: 1.6rem 7.2rem;
  }
}
@media only screen and (max-width: 31.25em) {
  .header__btn {
    margin-top: 4.8rem;
  }
}
.header__img-box {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  height: 100%;
  width: 100%;
}
@media only screen and (max-width: 56.25em) {
  .header__img-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin-bottom: 3.2rem;
    height: 75%;
    width: 75%;
  }
}
@media only screen and (max-width: 31.25em) {
  .header__img-box {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 25%;
            flex: 0 1 25%;
    height: 100%;
    width: 100%;
  }
}
.header__img {
  -webkit-transform: scale(1.8) translateY(-40%);
      -ms-transform: scale(1.8) translateY(-40%);
          transform: scale(1.8) translateY(-40%);
  position: absolute;
  top: 50%;
  right: -30%;
}
@media only screen and (max-width: 56.25em) {
  .header__img {
    position: static;
    -webkit-transform: translateX(20%);
        -ms-transform: translateX(20%);
            transform: translateX(20%);
  }
}

.shortener {
  background-color: hsl(257, 27%, 26%);
  background-image: url(/images/bg-shorten-desktop.svg);
  background-size: cover;
  border-radius: 1rem;
  padding: 4.8rem;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.shortener__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2.4rem;
}
@media only screen and (max-width: 56.25em) {
  .shortener__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    gap: 4.8rem;
  }
}
.shortener__input-box {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 80%;
          flex: 0 1 80%;
}
.shortener__input {
  outline: none;
  padding: 1.6rem;
  width: 100%;
  border: none;
  border-radius: 1rem;
  display: block;
  position: relative;
}
.shortener__input:focus:invalid {
  outline: 3px solid hsl(0, 87%, 67%);
}
.shortener__input:focus:invalid::-webkit-input-placeholder {
  color: hsl(0, 87%, 67%);
}
.shortener__input:focus:invalid::-moz-placeholder {
  color: hsl(0, 87%, 67%);
}
.shortener__input:focus:invalid:-ms-input-placeholder {
  color: hsl(0, 87%, 67%);
}
.shortener__input:focus:invalid::-ms-input-placeholder {
  color: hsl(0, 87%, 67%);
}
.shortener__input:focus:invalid::placeholder {
  color: hsl(0, 87%, 67%);
}
.shortener__input:focus:invalid + .shortener__label {
  -webkit-transform: translateY(50%);
      -ms-transform: translateY(50%);
          transform: translateY(50%);
  opacity: 1;
}
.shortener__label {
  color: hsl(0, 87%, 67%);
  font-style: italic;
  font-size: 1.4rem;
  position: absolute;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
  opacity: 0;
}
@media only screen and (max-width: 56.25em) {
  .shortener__label {
    left: 5rem;
  }
}
.shortener__btn {
  padding: 1.6rem 4.8rem;
  border-radius: 1rem;
  height: 50%;
}

.links {
  background-color: #fff;
  padding: 1.6rem 3.2rem;
  margin-bottom: 1.6rem;
  border-radius: 1rem;
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media only screen and (max-width: 56.25em) {
  .links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
.links__before {
  text-decoration: none;
  font-weight: 500;
  color: hsl(255, 11%, 22%);
}
@media only screen and (max-width: 56.25em) {
  .links__before {
    display: block;
    width: 100%;
    padding-bottom: 1.2rem;
    border-bottom: 1px solid hsl(0, 0%, 75%);
  }
}
.links__after-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media only screen and (max-width: 56.25em) {
  .links__after-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%;
    padding: 1.2rem 0;
  }
}
.links__after {
  text-decoration: none;
  font-weight: 500;
  color: hsl(180, 66%, 49%);
  margin-right: 1.6rem;
  display: block;
}
.links__btn-copy {
  font-size: 1.8rem;
  padding: 0.8rem 3.2rem;
  border-radius: 1rem;
}
@media only screen and (max-width: 56.25em) {
  .links__btn-copy {
    margin-top: 1.2rem;
    width: 100%;
  }
}

.stats {
  margin-top: 16rem;
  text-align: center;
  padding-bottom: 24rem;
}
@media only screen and (max-width: 56.25em) {
  .stats {
    margin-top: 10rem;
    padding-bottom: 12rem;
  }
}
.stats__heading {
  font-size: 4.2rem;
  margin-bottom: 1.6rem;
}
.stats .paragraph {
  margin: 0 auto;
  margin-bottom: 10rem;
  width: 45%;
}
@media only screen and (max-width: 56.25em) {
  .stats .paragraph {
    width: 80%;
  }
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2.4rem;
  position: relative;
}
@media only screen and (max-width: 56.25em) {
  .features {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.features::before {
  content: "";
  width: 50%;
  height: 7px;
  background-color: hsl(180, 66%, 49%);
  display: block;
  z-index: 0;
  position: absolute;
  top: 50%;
}
@media only screen and (max-width: 56.25em) {
  .features::before {
    width: 7px;
    height: 100%;
    top: 0;
  }
}

.feature {
  background-color: #fff;
  text-align: left;
  padding: 3.2rem;
  width: 40rem;
  border-radius: 1rem;
  z-index: 100;
}
@media only screen and (max-width: 56.25em) {
  .feature {
    text-align: center;
    margin-bottom: 4.8rem;
  }
}
.feature-2 {
  -webkit-transform: translateY(15%);
      -ms-transform: translateY(15%);
          transform: translateY(15%);
}
.feature-3 {
  -webkit-transform: translateY(30%);
      -ms-transform: translateY(30%);
          transform: translateY(30%);
}
.feature__icon {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 5.6rem;
  width: 5.6rem;
  background-color: hsl(255, 11%, 22%);
  padding: 2rem;
  border-radius: 50%;
  -webkit-transform: translateY(-8rem);
      -ms-transform: translateY(-8rem);
          transform: translateY(-8rem);
}
.feature__heading {
  margin-top: -15%;
  margin-bottom: 1.6rem;
  font-size: 2.4rem;
}
.feature .paragraph {
  width: 100%;
  margin: 0;
  font-size: 1.8rem;
}

.cta {
  padding: 6.4rem 0;
  color: #fff;
  background-color: hsl(257, 27%, 26%);
  background-image: url("/images/bg-boost-desktop.svg");
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.cta__heading {
  font-size: 3.6rem;
  margin-bottom: 2.4rem;
}
.cta__btn {
  padding: 1.6rem 5.6rem;
}

.footer {
  color: #fff;
  display: grid;
  grid-template-columns: 2fr repeat(4, 1fr);
  padding: 6rem;
}
@media only screen and (max-width: 56.25em) {
  .footer {
    grid-template-columns: 1fr;
    justify-items: center;
    -ms-flex-line-pack: start;
        align-content: start;
    text-align: center;
    row-gap: 3.2rem;
  }
}
.footer__col {
  margin-top: 4.4rem;
}
@media only screen and (max-width: 56.25em) {
  .footer__col {
    margin: 0;
  }
}
.footer__list {
  list-style-type: none;
  padding: 0;
}
.footer__item {
  font-size: 1.4rem;
  color: hsl(0, 0%, 75%);
  display: inline-block;
  text-decoration: none;
  margin-bottom: 0.8rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
@media only screen and (max-width: 56.25em) {
  .footer__item {
    font-size: 1.8rem;
  }
}
.footer__item:hover {
  color: hsl(180, 66%, 49%);
}
.footer__icon {
  height: 2.4rem;
  width: 2.4rem;
  margin-right: 2.4rem;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
@media only screen and (max-width: 56.25em) {
  .footer__icon {
    height: 3.2rem;
    width: 3.2rem;
  }
}
.footer__icon:hover {
  color: hsl(180, 66%, 49%);
}/*# sourceMappingURL=main.css.map */