@use "variables";

html {
  font-size: 62.5%; // 10/16 = 62.5% = 10px;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: variables.$font-weight--regular;
  font-size: variables.$font-default;
  line-height: 1.6;
  color: #333;
  overflow-x: hidden;
}

.logo {
  display: block;
  height: 12rem;
  width: 12rem;
}

.btn-cta {
  border: none;
  background-color: variables.$color-primary--cyan;
  color: #fff;
  font-weight: variables.$font-weight--bold;
  border-radius: 3rem;
  cursor: pointer;
  transition: opacity 0.2s;

  &:hover {
    opacity: 0.5;
  }
}
