@use "variables";

.cta {
  height: 12rem;

  color: #fff;
  background-color: variables.$color-primary--violet;
  background-image: url("/images/bg-boost-desktop.svg");
  background-size: cover;
  background-position: center;
}
