// Typography
@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap");
$paragraph-default: 15px;

// Colors

// Font weights
$font-weight--medium: 500;
$font-weight--bold: 700;
$font-weight--extraBold: 800;
