@use "../abstracts/variables";

.footer {
  color: #fff;
  display: grid;
  grid-template-columns: 2fr repeat(4, 1fr);
  padding: 6rem;

  @media only screen and (max-width: variables.$bp-large) {
    grid-template-columns: 1fr;
    justify-items: center;
    align-content: start;
    text-align: center;
    row-gap: 3.2rem;
  }

  &__col {
    margin-top: 4.4rem;

    @media only screen and (max-width: variables.$bp-large) {
      margin: 0;
    }
  }

  &__list {
    list-style-type: none;
    padding: 0;
  }

  &__item {
    font-size: 1.4rem;
    color: variables.$color-gray-light--1;
    display: inline-block;
    text-decoration: none;
    margin-bottom: 0.8rem;
    transition: all 0.2s;

    @media only screen and (max-width: variables.$bp-large) {
      font-size: variables.$font-default;
    }

    &:hover {
      color: variables.$color-primary--cyan;
    }
  }

  &__icon {
    height: 2.4rem;
    width: 2.4rem;
    margin-right: 2.4rem;
    cursor: pointer;
    transition: all 0.2s;

    @media only screen and (max-width: variables.$bp-large) {
      height: 3.2rem;
      width: 3.2rem;
    }

    &:hover {
      color: variables.$color-primary--cyan;
    }
  }
}
