@use "../abstracts/variables";

html {
  font-size: 62.5%; // 10/16 = 62.5% = 10px;
  scroll-behavior: smooth;

  @media only screen and (max-width: variables.$bp-largest) {
    font-size: 50%;
  }

  @media only screen and (max-width: variables.$bp-medium) {
    font-size: 45%;
  }
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: variables.$font-weight--regular;
  font-size: variables.$font-default;
  line-height: 1.6;
  overflow-x: hidden;
}
