@use "../abstracts/variables";

.container {
  max-width: 144rem;
  margin: 0 auto;
}

.section-head {
  padding: 0 2.4rem;

  @media only screen and (max-width: variables.$bp-large) {
    padding-bottom: 6.4rem;
  }
}

.section-main {
  background-color: #eff1f7;
  padding: 0 2.4rem;
}

.section-footer {
  background-color: variables.$color-gray-dark--1;
}
